@model LicenseApplication.Models.User

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change_Password</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "");
    <div>
        <fieldset>
            <legend style="text-align: center">Login Form</legend>
            <table>
                <tr>
                    <td style="text-align: right;">@Html.Label("Old Password : ")</td>
                    <td style="text-align: justify">
                        <input type="password" name="Old_Password" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;">@Html.Label("New Password : ")</td>
                    <td style="text-align: justify">
                        <input type="password" name="New_Password" /></td>
                </tr>
                <tr>
                    <td style="text-align: right;">@Html.Label("Confirm Password : ")</td>
                    <td style="text-align: justify;">
                        <input type="password" name="Con_Password" /></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <table style="width: 100%">
                            <tr>
                                <td style="text-align: right">
                                    @Html.ActionLink("Back To Details", "Details/" + Session["UserId"])
                                </td>
                                <td style="text-align: right">
                                    <input type="submit" value="Change Password" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
}